 <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="https://rollingmountainkush.com/" style="font-family: 'Satisfy', cursive;font-weight:700;letter-spacing:1px">RMK</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://rollingmountainkush.com/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://rollingmountainkush.com/about.html">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://rollingmountainkush.com/gallery.html">
          Gallery
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://rollingmountainkush.com/logs.html">Grow Logs</a>
      </li>
    </ul>
  </div>
</nav>