<!DOCTYPE html>
<html lang="en">
  <head>
      {% include head.html %}
  </head>
  <body>
       <main class="overlay-verify">
  <article class="box">
    <div class="box-left">
        <h1 style="font-family: 'Satisfy', cursive;font-weight:700;color:#fff;transform: rotate(-15deg)">RMK</h1>
    <p>Rolling Mountain Kush presents information for educational purposes only. This content is only viewable once you have verified your age. </p>
    </div>
    <div class="box-right">
      <h4>Age Verification</h4>
      <p>By clicking 'Yes', I certify that I am over the age of 21 and/or a valid medical card holder.</p>
      
      <a href="#" class="btn btn-alpha"  id="refresh-page">YES</a>
      
      <p class="decor-line"><span>Or</span></p>
      
      <a href="#" class="btn btn-beta" id="reset-session">NO</a>
      
      <small style="font-family: 'Satisfy', cursive;font-weight:700;transform: rotate(-15deg)">RMK</small>
    </div>
  </article>
</main>
      {% include header.html %}
    {{content}}
      {% include footer.html %}
  </body>
</html>