<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>

    

    <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">RMK</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Case Studies</a>
          <a class="dropdown-item" href="#">Gallery</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Social Media</a>
            <a class="dropdown-item" href="#">Contract Work</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <!-- SEARCH FORM
      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
      
      <div class="container-fluid">
          
          <div class="row">
              <div class="col col-landing">
                  <div id="carouselExampleSlidesOnly" class="carousel slide landing-carousel carousel-fade" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{"../assets/img/landing-photo1.jpg" | relative_url}}" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
            <div class="caption-block">
    <h5>Outdoor Cannabis</h5>
            <hr>
    <p>Learn effective methods for producing pounds of cannabis herb.</p>
            </div>
            <div class="caption-block">
            <h5>Indoor Cultivation</h5>
            <hr>
    <p>From the clone room to the trim table, I discuss how to cultivate cannabis indoors.</p>
                </div>
  </div>
        <div class="landing-bg">
                      <h3 class="sub-title text-center">Cannabis Lifestyle &amp; Horticulture</h3>
                  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="<?php echo get_bloginfo('template_directory'); ?>/img/stock_photo5.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
    <h5>Outdoor Cannabis</h5>
            <hr>
    <p>Learn effective methods for producing pounds of cannabis herb.</p>
            
            <h5>Indoor Cultivation</h5>
            <hr>
    <p>From the clone room to the trim table, I discuss how to cultivate cannabis indoors.</p>
  </div>
        <div class="landing-bg">
                      <h3 class="sub-title text-center">Cannabis Grower in Southwestern United States</h3>
                  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="<?php echo get_bloginfo('template_directory'); ?>/img/landing-photo5.jpeg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
    <h5>Outdoor Cannabis</h5>
            <hr>
    <p>Learn effective methods for producing pounds of cannabis herb.</p>
            
            <h5>Indoor Cultivation</h5>
            <hr>
    <p>From the clone room to the trim table, I discuss how to cultivate cannabis indoors.</p>
  </div>
        <div class="landing-bg">
                      <h3 class="sub-title text-center">Cannabis Grower in Southwestern United States</h3>
                  </div>
    </div>
      
  </div>
</div>
    </div>
  </div>
          
          <div class="row">
    <div class="col col-full-width">
        <div class="content-block">
            <div class="block-break-left"></div>
        <h3 style="text-align:right;padding:20px 60px;font-size:2.25rem;">Cultivate herb no matter the circumstances</h3>
            </div>
    </div>        
  </div>
          
          <div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="content-block">
        <p style="font-size:1.25rem;line-height:1.5;padding:0 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
    </div>   
              
              <div class="col-md-12 col-lg-6">
        <div class="content-block">
        <p style="font-size:1.25rem;line-height:1.5;padding:0 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
    </div> 
              
  </div>
          
          <div class="row">
              <div class="col-md-12 col-lg-8 col-full-width">
                  <div class="content-block" style="height:400px;overflow:hidden">
                   <img src="<?php echo get_bloginfo('template_directory'); ?>/img/stock_photo5.jpg" class="" alt="...">
                  </div>
                  </div>
                  
                  <div class="col-md-12 col-lg-4 col-full-width">
                  <div class="content-block">
                      <h3 style="text-align:right;padding:20px 40px;font-size:2.05rem;">Understanding Biology</h3>
                  <p style="font-size:1.25rem;line-height:1.5;padding:0 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
                  </div>
              </div>
          
          <div class="row">
    <div class="col col-full-width">
        <div class="content-block" style="margin: 250px 0 250px 0;">
            <div class="text-fade-bg">Cannabis</div>
        <h3 style="text-align:center;padding:20px 60px;font-size:2.25rem;">Quality cannabis</h3>
        <p style="text-align:center;font-size:1.5rem;line-height:1.65;padding:20px 100px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
    </div>
  </div>
          
          <div class="row">
    <div class="col-md-12 col-lg-6 col-full-width">
        <div class="content-block" style="font-size:1.25rem;line-height:1.5;padding:0 20px;">
        <h3 style="text-align:left;padding:20px;font-size:1.75rem;">Case Study&#58; Optimal Indoor Environments</h3>
        <p style="font-size:1.25rem;line-height:1.5;padding:0 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="">Read More...</a></p>
        <table class="info-table">
         <tr>
             <td><b>Growth Phase</b> <i class="fa fa-sun-o"></i></td>
          <td><b>Temp. (&deg;F)</b> <i class="fa fa-thermometer-half"></i></td>
             <td><b>R. Humidity</b> <i class="fa fa-tint"></i></td>
         </tr>
            <tr>
          <td>Clones</td>
             <td>test</td>
                <td>test</td>
         </tr>
            <tr>
          <td>Vegetative</td>
             <td>test</td>
                <td>test</td>
         </tr>
            <tr>
          <td>Flower</td>
             <td>test</td>
                <td>test</td>
         </tr>
            <tr>
          <td>Curing</td>
             <td>test</td>
                <td>test</td>
         </tr>
        </table>
            </div>
    </div>
    <div class="col-md-12 col-lg-6 col-full-width">
        <div class="content-block" style="height:400px;overflow:hidden">
                   <img src="<?php echo get_bloginfo('template_directory'); ?>/img/stock_photo4.jpg" class="" alt="...">
                  </div>
        <div class="block-break-right"></div>
    </div>
  </div>
          
  <div class="row">
    <div class="col">
        <h3 class="text-center">Latest Blog Posts</h3>
        
      <article class="blog-preview-box">
        {% for post in site.posts limit:5  %}
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          
		<h2 class="blog-preview-title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2><span class="blog-preview-date"><span class="post-meta">{{ post.date | date: date_format }}</span></span>
	

 {% endfor %}
	</article>
    </div>
  </div>
        
        

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>

  </body>
</html>