---
layout: default
---
      
      <div class="container-fluid">
          
          <div class="row">
              <div class="col col-landing">
                  <div id="carouselExampleSlidesOnly" class="carousel slide landing-carousel carousel-fade" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{"../assets/img/landing-photo1.jpg" | relative_url}}" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
            <div class="caption-block">
    <h5>Beneficial Microbes</h5>
            <hr>
    <p>Learn effective methods for producing a healthy root system that is vital to growing pounds of herb.</p>
            </div>
            <div class="caption-block">
            <h5>Feeding with Clonex</h5>
            <hr>
    <p>Effective feeding regimine for clones using Clonex products that is relatively cost-effective.</p>
                </div>
  </div>
        <div class="landing-bg">
                      <h3 class="sub-title text-center">Cannabis Horticulture &amp; Lifestyle</h3>
                  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="<?php echo get_bloginfo('template_directory'); ?>/img/stock_photo5.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
    <h5>Outdoor Cannabis</h5>
            <hr>
    <p>Learn effective methods for producing pounds of cannabis herb.</p>
            
            <h5>Indoor Cultivation</h5>
            <hr>
    <p>From the clone room to the trim table, I discuss how to cultivate cannabis indoors.</p>
  </div>
        <div class="landing-bg">
                      <h3 class="sub-title text-center">Cannabis Grower in Southwestern United States</h3>
                  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="<?php echo get_bloginfo('template_directory'); ?>/img/landing-photo5.jpeg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
    <h5>Outdoor Cannabis</h5>
            <hr>
    <p>Learn effective methods for producing pounds of cannabis herb.</p>
            
            <h5>Indoor Cultivation</h5>
            <hr>
    <p>From the clone room to the trim table, I discuss how to cultivate cannabis indoors.</p>
  </div>
        <div class="landing-bg">
                      <h3 class="sub-title text-center">Cannabis Grower in Southwestern United States</h3>
                  </div>
    </div>
      
  </div>
</div>
    </div>
  </div>
          
          <div class="row row-adjust">
    <div class="col col-full-width">
        <div class="content-block">
        <h3 style="text-align:right;padding:20px 60px;font-size:2.25rem;">More Than A Brand</h3>
            </div>
    </div>        
  </div>
          
          <div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="content-block">
        <p class="block-break-left" style="font-size:1.15rem;line-height:1.5;padding:0 20px;">Rollmaster Kush represents a lifestyle that embraces a wide range of strains of cannabis, various growing methods, and nutrient products. RMK is my official grow log and blog related to my commerical and residential cannabis grow cycles. Continue to scroll to read my reviews, personal grow logs, various articles covering cannabis related topics and more.</p>
            </div>
    </div>   
              
              <div class="col-md-12 col-lg-6">
        <div class="content-block">
        <p style="font-size:1.15rem;line-height:1.5;padding:0 20px;">Venture through my content and you will find many different techniques being explored including supercropping, various levels of defoliation, topping, transplanting, foliar sprays, pest management, and more. Beyond growing techniques, RMK also offers reviews on indoor gardening equipment and nutrients that may benefit your garden. Often times as individuals we look for the gauranteed solution, but there is not always a one-size-fits-all for solutions and the same can be said for all things cannabis.</p>
            </div>
    </div> 
              
  </div>
          
          <div class="row row-adjust">
                  <div class="col-md-12 col-lg-4 col-full-width">
                  <div class="content-block">
                      <h3 style="text-align:left;padding:20px 40px;font-size:2.05rem;">Passionate Growing</h3>
                  <p class="block-break-right" style="font-size:1.05rem;line-height:1.5;padding:0 20px;margin:-right:10px;">Passionate growing is about doing what you love and loving what you do. The first concern for every self-aware cannabis consumer is what ingredients are used to grow cannabis and if its fit for consumption. RMK lauds nutrients and sprays that are safe for not only the cannabis consumer, but the planet as well.</p>
                  </div>
                  </div>
              
                <div class="col-md-12 col-lg-8 col-full-width">
                  <div class="content-block" style="height:400px;overflow:hidden">
                   <img src="{{"../assets/img/vegPlants-aug2018.jpg" | relative_url}}" class="" alt="..." style="object-fit:contain;height:auto;width:100%;">
                  </div>
                  </div>
              
              </div>
          
          <div class="row row-adjust">
    <div class="col col-full-width">
        <div class="content-block">
            <div class="text-fade-bg">RMK</div>
        <h3 class="title-center">Grow Logs</h3>
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="grow-log-preview">
                        <img src="../assets/img/Cindy99-GrowLog-Preview.png" alt="Cindy 99 Preview">
                    </div>
                    <div class="grow-log-preview-title">
                        <a href="../logs.html">
                        Cindy 99
                            </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="grow-log-preview">
                        <img src="../assets/img/BlueDream-GrowLog-Preview.png" alt="Blue Dream Preview">
                    </div>
                    <div class="grow-log-preview-title">
                        <a href="../logs.html">
                        Blue Dream
                            </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="grow-log-preview">
                        <img src="../assets/img/MobBoss-GrowLog-Preview.png" alt="Mob Boss Preview">
                    </div>
                    <div class="grow-log-preview-title">
                        <a href="../logs.html">
                        Mob Boss
                            </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="grow-log-preview">
                        <img src="../assets/img/mob-boss-dec2017.jpg" alt="Mob Boss Preview">
                    </div>
                    <div class="grow-log-preview-title">
                        <a href="../logs.html">
                          Bubba Kush
                            </a>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="grow-log-preview">
                        <img src="../assets/img/Juicy-fruit-dec2017.jpg" alt="Juicy Fruit Preview">
                    </div>
                    <div class="grow-log-preview-title">
                        <a href="../logs.html">
                        Juicy Fruit
                            </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="grow-log-preview">
                        
                    </div>
                    <div class="grow-log-preview-title">
                        <a href="../logs.html">
                        Tangerine Kush
                            </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="grow-log-preview">
                        <img src="../assets/img/Strawnana-dec2018.jpg" alt="Strawberry Banana Preview">
                    </div>
                    <div class="grow-log-preview-title">
                        <a href="../logs.html">
                        Strawberry Banana
                            </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="grow-log-preview">
                        
                    </div>
                    <div class="grow-log-preview-title">
                        <a href="../logs.html">
                        Coming Soon...
                            </a>
                    </div>
                </div>
            </div>
            
            </div>
    </div>
  </div>
          
          
  <div class="row row-adjust">
    <div class="col">
        <div class="content-block">
        <h3 class="text-center">Latest Articles</h3>
        
      <article class="blog-preview-box">
        {% for post in site.posts limit:5  %}
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          
		<h2 class="blog-preview-title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2><span class="blog-preview-date"><span class="post-meta">{{ post.date | date: date_format }}</span></span>
	

 {% endfor %}
	</article>
            </div>
    </div>
  </div>
        
        

     
