---
layout: default
---

      <div class="container-fluid">

          <div class="row">
              <div class="col-sm-12 col-landing">
                 <!-- age verify overlay-verify -->
      <img class="landing-image" src="{{"../assets/img/landing-image-lpc-2023-002.webp" | relative_url}}" alt="Landing Image">
  </div>
  </div>

          <div class="row">

    <div class="col-md-12 col-lg-6">
        <div class="content-block" style="background-image: url(../assets/img/mtn-bg.png);background-color:#454545;background-position: center;background-repeat: repeat-x; background-size: 40%; height: 100%">
          <h3 class="section-title text-center">Big Roots, Big Fruits</h3>
        <p class="block-break-left section-p-left"> Strong cloning skills to produce healthy clones with a robust root system in under 14 days.</p>
            </div>
    </div>

    <div class="col-md-12 col-lg-6 col-full-width">
      <div class="home-image-box">
       <img src="{{"../assets/img/tang-kush-clones-alt.webp" relative_url}}" class="" alt="..." style="object-fit:contain;height:auto;width:100%;">
      </div>
    </div>

    </div>

<div class="row">

  <div class="col-md-12 col-lg-6 col-full-width order-sm-2 order-lg-1">
    <div class="home-image-box">
     <img src="{{"../assets/img/vegplants-aug2018.webp" | relative_url}}" class="" alt="..." style="object-fit:contain;height:auto;width:100%;">
    </div>
    </div>

              <div class="col-md-12 col-lg-6 order-sm-1 order-lg-2" style="background-color:green;">
        <div>
          <h3 class="section-title text-center">Better Dry Backs, Better Growth</h3>
        <p class="section-p-left"> Manipulating dry backs for better root growth and plant growth in veg. </p>
            </div>
    </div>

  </div>

          <div class="row">
                  <div class="col-md-12 col-lg-6 col-full-width">
                  <div class="content-block" style="background-image: url(../assets/img/mtn-bg.png);background-color:#454545;background-position: center;background-repeat: repeat-x; background-size: 40%; height: 100%">
                      <h3 class="section-title" style="text-align:left">Fertigation Excellence</h3>
                  <p class="block-break-right section-p-left"> Minimize fertilizer usage and reduce nutrient loss through accurate application. Maximize water and nutrient supply in the active root zone to increase absorption levels in cannabis crops.</p>
                  </div>
                  </div>

                <div class="col-md-12 col-lg-6 col-full-width">
                  <div class="home-image-box">
                   <img src="{{"../assets/img/melted-strawberries-flower.webp" | relative_url}}" class="" alt="..." style="object-fit:contain;height:auto;width:100%;">
                  </div>
                  </div>

              </div>

          <div class="row">

            <div class="col-md-12 col-lg-6 col-full-width order-sm-2 order-lg-1">
              <div class="home-image-box">
               <img src="{{"../assets/img/wedding-cake-colas-small.webp" | relative_url}}" class="" alt="..." style="object-fit:contain;height:auto;width:100%;">
              </div>
              </div>

    <div class="col-md-12 col-lg-6 col-full-width order-sm-1 order-lg-2" style="background-color:green;">
        <div class="content-block">

            <h3 class="section-title text-center">Slow Dry, Slower Cure</h3>
          <p class="block-break-left section-p-left"> Optimal environmental controls for your dry room and cure room are essential to carry flower through post-harvest successfully. </p>

            </div>
    </div>

  </div>

  <div class="row">

<div class="col-md-12 col-lg-6">
<div class="content-block" style="background-image: url(../assets/img/mtn-bg.png);background-color:#454545;background-position: center;background-repeat: repeat-x; background-size: 40%; height: 100%">
  <h3 class="section-title text-center">Smart Trim, Dry Trim</h3>
<p class="block-break-left section-p-left"> Attention to detail is key and a good dry trim requires more than an eye for crow's feet.</p>
    </div>
</div>

<div class="col-md-12 col-lg-6 col-full-width">
<div class="home-image-box">
<img src="{{"../assets/img/ghost-of-kiev-buds-small.webp" relative_url}}" class="" alt="..." style="object-fit:contain;height:auto;width:100%;">
</div>
</div>

</div>

<div class="row">

  <div class="col-md-12 col-lg-6 col-full-width order-sm-2 order-lg-1">
    <div class="home-image-box">
     <img src="{{"../assets/img/sour-thanos-cola-small.webp" | relative_url}}" class="" alt="..." style="object-fit:contain;height:auto;width:100%;">
    </div>
    </div>

<div class="col-md-12 col-lg-6 col-full-width order-sm-1 order-lg-2" style="background-color:green;">

  <h3 class="section-title text-center">Potent Flower with Flavor</h3>
<p class="block-break-left section-p-left"> High potency complements a high terpene profile for an impactful and smooth high. </p>


</div>

</div>

<div class="row">

<div class="col-md-12 col-lg-6">
<div class="content-block" style="background-image: url(../assets/img/mtn-bg.png);background-color:#454545;background-position: center;background-repeat: repeat-x; background-size: 40%; height: 100%">
<h3 class="section-title text-center">Bunches of Terpenes</h3>
<p class="block-break-left section-p-left"> Words. </p>
  </div>
</div>

<div class="col-md-12 col-lg-6 col-full-width">
<div class="home-image-box">
<img src="{{"../assets/img/strawnana-trichomes2.webp" relative_url}}" class="" alt="..." style="object-fit:contain;height:auto;width:100%;">
</div>
</div>

</div>

</div>
