---
layout: default
---

      <div class="container-fluid">

          <div class="row">
              <div class="col-sm-12 col-landing">
                 <!-- age verify overlay-verify -->
      <img src="{{"../assets/img/landing-image-lpc-2023-002.webp" | relative_url}}" alt="Landing Image">
  </div>
  </div>

          <div class="row">
    <div class="col-md-12 col-lg-8">
        <div>
          <h3 class="section-title text-center">Big Roots, Big Fruits</h3>
        <p class="block-break-left section-p-left"> Strong cloning skills to produce healthy clones with a robust root system in under 14 days.</p>
            </div>
    </div>
    <div class="col-md-12 col-lg-4">
      <div style="height:600px;overflow:hidden">
       <img src="{{"../assets/img/big-roots-big-fruits-image.webp" relative_url}}" class="" alt="..." style="object-fit:contain;height:auto;width:100%;">
      </div>
    </div>
    </div>

<div class="row">
              <div class="col-md-12 col-lg-6" style="background-color:green;">
        <div class="content-block">
          <h3 class="section-title text-center">Cultivation Excellence</h3>
        <p class="section-p-left">Grown in Coco Coir - Proprietary Salt Blend - Automated Fertigation - OMRI Biopesticides - Integrated Pest Management Protocols - High Potency - Strong Terpene Profiles </p>
            </div>
    </div>

  </div>

          <div class="row">
                  <div class="col-md-12 col-lg-5 col-full-width">
                  <div class="content-block">
                      <h3 class="section-title" style="text-align:left">Hydrocarbon Extraction</h3>
                  <p class="block-break-right section-p-left"> BHO - Live Resin Diamonds - Live Resin Badder - Live Resin Oil - Cured Resin Oil - Cured Resin Badder - Wax Crumble - Shatter - Sugar </p>
                  </div>
                  </div>

                <div class="col-md-12 col-lg-7 col-full-width">
                  <div class="content-block" style="height:400px;overflow:hidden">
                   <img src="{{"../assets/img/vegPlants-aug2018.jpg" | relative_url}}" class="" alt="..." style="object-fit:contain;height:auto;width:100%;">
                  </div>
                  </div>

              </div>

          <div class="row">
    <div class="col col-full-width">
        <div class="content-block" style="background-image: url(../assets/img/mtn-bg.png);background-color:#454545;background-position: center;background-repeat: repeat-x;
background-size: 20%;">
        <h2 class="title-center">Curated Genetics</h2>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="grow-log-preview">
                        <a href="../logs.html">
                       <img src="../assets/img/IslandPunch-grow-preview.jpg" alt="Island Punch Preview">
                        </a>
                    </div>
                    <div class="grow-log-preview-textbox">
                    <hr>
                    <div class="grow-log-preview-title">
                        <a href="../logs.html">
                        Island Punch
                            </a>
                    </div>
                    <hr>
                    <div class="grow-log-preview-sub">
                        (Original Glue x Purple Punch)
                        <br/>
                        <hr>
                        <b>THE CALI CONNECTION</b>
                        <hr>
                        fruit punch breath with an exhale of kush
                    </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="grow-log-preview">
                        <img src="../assets/img/MoonshineHaze-GrowLog-Preview.jpg" alt="Moonshine Haze Preview">
                    </div>
                    <div class="grow-log-preview-textbox">
                      <hr>
                    <div class="grow-log-preview-title">
                        <a href="../logs.html">
                        Moonshine Haze
                            </a>
                    </div>
                    <hr>
                    <div class="grow-log-preview-sub">
                        (Amnesia Haze x Nevil&acute;s Wreck)
                        <br/>
                        <hr>
                        <b>RARE DANKNESS</b>
                        <hr>
                        Overloaded with pepper and pine
                    </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="grow-log-preview">
                       <img src="../assets/img/KLP-GrowLog-Preview.jpg" alt="Ol' Key Lime Pie Preview">
                    </div>
                    <div class="grow-log-preview-textbox">
                    <hr>
                    <div class="grow-log-preview-title">
                        <a href="../logs.html">
                        Ol&#39; Key Lime Pie
                        </a>
                    </div>
                    <hr>
                    <div class="grow-log-preview-sub">
                        (GSC x Tahoe OG)
                        <br/>
                        <hr>
                        <b>PINK HOUSE SEEDS</b>
                        <hr>
                        flavors of sugary lime, mint, and a dash of spice
                    </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="grow-log-preview">
                        <a href="../logs.html">
                       <img src="../assets/img/pp-grow-preview.jpg" alt="Purple Punch Preview">
                        </a>
                    </div>
                    <div class="grow-log-preview-textbox">
                    <hr>
                    <div class="grow-log-preview-title">
                        <a href="../logs.html">
                           Purple Punch
                            </a>
                    </div>
                    <hr>
                    <div class="grow-log-preview-sub">
                        (Larry OG x GDP)
                        <br/>
                        <hr>
                        <b>BARNEYS FARMS</b>
                        <hr>
                        fresh baked blueberry muffins with a swig of kool-aid
                    </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="grow-log-preview">
                        <a href="../logs.html">
                       <img src="../assets/img/gmo-cookies-growpreview.jpeg" alt="GMO Cookies Preview">
                        </a>
                    </div>
                    <div class="grow-log-preview-textbox">
                    <hr>
                    <div class="grow-log-preview-title">
                        <a href="../logs.html">
                           Chem Cookies
                            </a>
                    </div>
                    <hr>
                    <div class="grow-log-preview-sub">
                        (Chemdawg x GSC)
                        <br/>
                        <hr>
                        <b>MAMIKO SEEDS</b>
                        <hr>
                        pungent garlic and onion stew aroma from down the hall
                    </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="grow-log-preview">
                        <img src="../assets/img/lucky-charms-grow-preview.jpg" alt="Lucky Charms Preview">
                    </div>
                    <div class="grow-log-preview-textbox">
                    <hr>
                    <div class="grow-log-preview-title">
                        <a href="../logs.html">
                        Lucky Charms
                            </a>
                    </div>
                    <hr>
                    <div class="grow-log-preview-sub">
                        (The White x Appalachia)
                        <br/>
                        <hr>
                        <b>BODHI SEEDS</b>
                        <hr>
                        tangy underripe fruit with an earthy twist
                    </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="grow-log-preview">
                       <img src="../assets/img/wedding-cake-growpreview.jpeg" alt="Wedding Cake Preview">
                    </div>
                    <div class="grow-log-preview-textbox">
                    <hr>
                    <div class="grow-log-preview-title">
                        <a href="../logs.html">
                        Wedding Cake
                        </a>
                    </div>
                    <hr>
                    <div class="grow-log-preview-sub">
                        (Triangle Kush x Animal Mints)
                        <br/>
                        <hr>
                        <b>SEED JUNKY GENETICS</b>
                        <hr>
                        sweet vanilla cake with the slightest hint of spice and zest
                    </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="grow-log-preview">
                        <a href="../logs.html">
                        <img src="../assets/img/JuicyFruit-GrowLog-Preview.jpg" alt="Fruity Juice Preview">
                        </a>
                    </div>
                    <div class="grow-log-preview-textbox">
                    <hr>
                    <div class="grow-log-preview-title">
                        <a href="../logs/juicy-fruit.html">
                          Juicy Fruit
                            </a>
                    </div>
                    <hr>
                    <div class="grow-log-preview-sub">
                        (Thailand x Afghanistan)
                        <br/>
                        <hr>
                        <b>SENSI SEEDS</b>
                        <hr>
                        plums and tropical pina colada candy
                    </div>
                    </div>
                </div>
            </div>

            <a class="round-btn" href="https://rollingmountainkush.com/logs.html">See More</a>

            </div>
    </div>
  </div>

</div>
</div>
