---
layout: default
---

<div class="container-fluid">
<section class="blog-post-page container">
    
  <div class="row">
    <div class="col-sm-12">
    <div class="blog-post-header">
        <h3>{{ page.title }}</h3>
    </div>
    </div><!-- /.col-sm-12 -->
  </div><!-- /.row -->
    
  <div class="row">
      <div class="col-sm-2">
    <div class="blog-post-content">
            {{ page.date | date: '%B %d, %Y' }}
    </div>
      </div><!-- /.col-sm-2 -->
      <div class="col-sm-10">

      </div><!-- /.col-sm-10 -->
  </div><!-- /.row -->  
    
  <div class="row">
      <div class="col-sm-2">
          
      </div><!-- /.col-sm-2 -->
      <div class="col-sm-10">
    <div class="blog-post-content">
        {% include google-adsense.html %}
            {{ content }}
    </div>
      </div><!-- /.col-sm-10 -->
  </div><!-- /.row -->  
    
    <div class="row">
        <div class="col-sm-12">
            {% include talkyard-comments.html %}
        </div>
    </div>
    
</section>
</div>